<!DOCTYPE html>
<html lang="en">
<body>
    <div class="">
        <form class="" method="POST" action="/scan" enctype="multipart/form-data" >
          <div class="">
            <label class="" for="file">
              File Upload
            </label>
            <input class="" id="file" name="file" type="file">
          </div>
          <div class="">
            <button type="submit" class="">
              Upload
            </button>
          </div>
        </form>
    </div>
    <div>{{ result }}</div>
</body>
</html>